<p id="notice"><%= notice %></p>
<article class="blog-post">
  <header>
    <h1><%= @post.title %></h1>
    <div class="lead-image">
      <%= image_tag @post.image_url, class: "img-responsive" %>
      <div class="meta clearfix">

        <div class="author">
          <i class="glyphicon glyphicon-user"></i>
          <span class="data">
            <%= @post.user.first_name %> <%= @post.user.last_name %>
          </span>
        </div>
        <div class="date">
          <i class="glyphicon glyphicon-calendar"></i>
          <span class="data">
            <%= @post.date_posted %>
          </span>
        </div>
      </div>
    </div>
  </header>
  <div class="body">
    <%= @post.post_body.html_safe %>
  </div>
</article>
